{% extends "base.html" %}

{% block content %}

	
	<table>
		<tr>
			<th>Race</th>
		</tr>
		{% for race in selections["Race"] %}
		<tr>
			{% if race[1]==None %}
				<td> {{ race[0] }} </td>
			{% else %}
				<td> {{ race[1] }} </td>
			{% endif %}
			<td> {{ race[2] }} </td>
		</tr>
		{% endfor %}
	</table>

	
	<table>
		<tr>
			<th>Class Levels</th>
		</tr>
		{% for class in selections["Class"] %}
			<tr>
				<th> {{class}} </th>
			</tr>
			{% for subclass in selections["Class"][class] %}
				<tr>
					<td><a href="/remove_class/{{subclass[0]}}" class="tc-tiddlylink-missing"> {{subclass[0]}} </a></td>
					<td> {{ subclass[1] }} </td>
					<td> {{ subclass[2] }} </td>
				</tr>
			{% endfor %}
		{% endfor %}
	</table>

	
	<table>
		<tr>
			<th>Feats</th>
		</tr>
		{% for feat in selections["Feat"] %}
		<tr>
			<td><a href="/remove_feat/{{feat[1]}}" class="tc-tiddlylink-missing"> {{feat[1]}} </a></td>
			<td> {{ feat[2] }} </td>
		</tr>
		{% endfor %}
	</table>
	
	


Little Timmy aproached the tavern keeper with a handful of gold coins hard earned in the streets a couple of nights back, when those two drunk adventurers fell to the ground right in front of him. They were too wasted to notice how a couple of old rusty coins slippered from their bag into the wet and cold stone of the city streets before they keep in their way, giving little Timmy its first hot meal since the last lunar cycle.

Picking up the coins was not the hard part but rather keeping them hidden while a bunch of guards stormed through a nearby corner past the boy, weapons drawn and all, right after the drunk adventurers.

{% endblock %}